* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #071622;
  margin: 0;
}
@media (min-width: 600px) {
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 36px;
  border-radius: 10px;
  background-color: #091824;
  color: #fff;
  font-size: 12px;
}

.links {
  width: 100%;
}

.links ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.links li {
  display: inline-block;
  font-size: 10px;
  color: #525252;
  letter-spacing: 2px;
  margin: 0 15px;
}

@media (min-width: 768px) {
  header {
    padding: 5px 30px;
  }
  .links {
    flex-grow: 1;
    flex-basis: none;
  }
  .links ul {
    padding-left: 50px;
    justify-content: unset;
  }
  .links li {
      margin: 0 20px;
  }
  header {
    height: 60px;
    flex-direction: row;
  }
}
.search-box {
  position: relative;
}
.search-box input {
  width: 240px;
  height: 30px;
  opacity: 0.4;
  border-radius: 4px;
  border: solid 1px #d2d4df;
  padding: 9px;
}
.search-box img {
  position: absolute;
  right: 9px;
  top: 10px;
  opacity: 0.5;
}

.text-red {
    color: #e41a1a;
  }
  img {
    display: block;
    max-width: 100%;
  }

  #loader {
    position: fixed;
    top: 0;right: 0;bottom:0;left:0;
    background-color: #f8f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    display: none;
  }
  .loading #loader {
    display: block;
  }

  body.loading {
    overflow: hidden;
    opacity: 0.2;
  }